.classification {
  background: #fff;
  box-shadow: 0px 0px 5px 2px rgba(20%,20%,40%,0.2);
  width: 100%;
}

.classification__container {
  height: 570px;
  overflow-y: auto;
  position: relative;
}

.classification__type {
  padding: 15px;
  border-bottom: 1px solid #aaa;
}

.classification__type p {
  font-size: 10px;
  color: #999;
  padding-bottom: 5px;
}

.classification__range {
  padding-top: 15px;
}

.classification__range p {
  display: inline-block;
}

.classification__list {
  padding-top: 10px;
}

.classification__list ul li {
  padding: 10px 20px;
  cursor: pointer;
  color: #aaa;
}

.classification__list ul .select {
  border-left: 4px #f22 solid;
  font-weight: bold;
  color: #000;
}

.class_products_title {
  width: 100%;
}

.class_products_title p {
  display: inline-block;
  margin-left: 1%;
  font-weight: bold;
  color: #000;
  font-size: 20px;
}

.class_products_select {
  display: inline-block;
  margin-left: 81%;
}

.class_products_items {
  padding-top: 20px;
  height: 100%;
}

.counter {
  display: inline-block;
  margin-left: 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

.counter p {
  text-align: center;
  align-items: center;
  display: inline-block;
  -moz-user-select: none;  /* for Firefox */
  -webkit-user-select: none;   /* for Chrome */
}

.counter__button {
  padding: 0px 7px;
  font-size: 20px;
  cursor: pointer;
}

.counter__button:hover {
  background: #f22;
  color: #fff;
}

.counter__number {
  padding: 0px 10px;
  font-weight: bolder;
}

.forgotLink a {
  color: #0099FF;
}

.dialogWindow__inside__title {
  width: 100%;
  border-bottom: 1px solid #aaa;
}

.dialogWindow__inside__title img {
  display: block;
  padding: 10px 5px;
  margin: 0px auto;
}

.dialogWindow__inside__title p {
  padding: 15px 0px;
  font-size: 20px;
  font-weight: bold;
}

.drop__store {
  height: 410px;
  background: url("images/ADD.svg") no-repeat;
  background-size: 200px 200px;
  background-position: center;
  padding: 0px 10px;
  margin-top: 15px;
}

.drop__store_warehouse {
  display: none;
}

.drop__store_personal {
  display: none;
}

.drop_item {
  box-shadow: 0px 0px 5px 2px rgba(20%,20%,40%,0.2);
  position: relative;
  background: #fff;
  margin-bottom: 15px;
}

.drop_item_close {
  position: absolute;
  font-size: 25px;
  right: 0px;
  margin-top: -5px;
  cursor: pointer;
}

.drop_item img {
  height: 85px;
  margin: auto 0px;
}

.drop_item_highligh b {
 color: #f22;
}

.drop_item > div {
  padding: 3px 5px;
  text-align: left;
  font-size: 15px;
  font-weight: bolder;
}

.drop_item > div > * {
  padding: 3px 0px;
}

.drop_item_number {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
  align-items: center;
}

.drop_item_number .counter {
  margin-left: 10px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
  align-items: center;
}

#early_discounts {
  width: 90px;
  height: 40px;
  position: absolute;
  left: -11px;
}

.item_show {
  position: relative;
  background: #fff;
  padding: 10px;
  margin: 0px 5px 10px;
  box-shadow: 0px 0px 5px 2px rgba(20%,20%,40%,0.2);
}

.item_show img {
  width: 100%;
  height: 180px;
  cursor: pointer;
}

.item_name {
  font-size: 20px;
  font-weight: bolder;
  padding: 5px 0;
}

.item_price {
  font-size: 20px;
  padding: 5px 0;
}

.item_price span {
  font-size: 30px;
}

.item_info {
  padding-top: 5px;
  font-size: 10px;
  color: #999;
}

.item_info p {
  padding: 3px 0;
}

.item_info p span {
  color: #000;
  font-weight: bolder;
}

.leftBigAD {
  min-height: 400px;
  margin-right: 10px;
  background: #fff;
  position: relative;
}

.leftBigAD ul, .leftBigAD ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.leftBigAD ul li img {
  height: 400px;
  width: 100%;
  background: #fff;
}

.leftBigAD ul li {
  position: absolute;
  z-index: 1;
}

.leftBigAD ul li.selected {
  z-index: 99;
}

.manage_cla {
  text-align: center;
  width: 90%;
  background: #fff;
  margin: 0 auto;
  margin-top: -15px;
}

.manage_cla_item {
  display: inline-block;
  font-size: 13px;
  padding: 5px 0px;
  color: #999;
  cursor: pointer;
}

.manage_drop {
  height: 430px;
  overflow-y: auto;
}

.manage_select_cal {
  color: #000;
  font-weight: bolder;
  border-bottom: 2px solid #f22;
}

.manage_submit {
  text-align: center;
  box-shadow: 0px 0px 0px 0px rgba(20%,20%,40%,0),
  0px 0px 10px 1px rgba(20%,20%,40%,0.2),
  0px 0px 0px 0px rgba(20%,20%,40%,0),
  0px 0px 0px 0px rgba(20%,20%,40%,0);
  padding: 5px 15px;
}

.manage_submit p {
  font-size: 15px;
  color: #999;
}

.manage_submit button {
  width: 100%;
  border-style: none;
  background: #f22;
  color: #fff;
  padding: 5px;
  font-size: 18px;
  margin-top: 10px;
  cursor: pointer;
}

.warehouse_submit {
  display: none;
}

.warehouse_submit p {
  color: #000;
}

.warehouse_submit p span {
  padding: 0px 20px;
}

.warehouse_submit p span b {
  color: #f22;
}
.personalStore_submit {
  display: none;
}

.manage_title {
  background: #f22;
  padding: 10px 10px;
  cursor: pointer;
  border-bottom: 2px solid #fff;
}

.manage_title img,  .manage_title p{
  display: inline-block;
  vertical-align: bottom;
}

.manage_title img:first-child {
  width: 10px;
}

.manage_title img:nth-child(2) {
  width: 20px;
}

.manage_title p {
  color: #fff;
  min-height: auto;
}

.manage_title_gap {
  background: #f22;
  height: 25px;
}

.etherImg {
  border: solid #ccc 1px;
}

.prev {
  background: url("images/arrowLeft.svg") no-repeat rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: 30px 25px;
  width: 50px;
  height: 48px;
  position: absolute;
  display: none;
  top: 176px;
  z-index: 100;
  left: 0;
  color: #fff;
}

.next {
  background: url("images/arrowRight.svg") no-repeat rgba(0, 0, 0, 0.2);
  background-position: center;
  background-size: 30px 25px;
  width: 50px;
  height: 48px;
  position: absolute;
  display: none;
  top: 176px;
  z-index: 100;
  right: 0;
}

.productInfo {
  padding: 20px 10px;
}

.products_manage {
  background: #fff;
  box-shadow: 0px 0px 5px 2px rgba(20%,20%,40%,0.2);
  position: relative;
}

.rightSmallTopAD, .rightSmallDownAD {
  min-height: 195px;
  background: #fff;
}

.rightSmallTopAD {
  margin-bottom: 10px;
}

.rightSmallDownAD {
  margin-top: 10px;
}

.loginWindow__inside__content,
.registerWindow__inside__content,
.returnWindow,
.newProductSearchWindow,
.randomMarketWindow,
.shareWindow {
  text-align: center;
  width: 400px;
  background: #fff;
  display: none;
}

.registerWindow__inside__content .registerInput p {
  padding: 20px 0px;
  font-weight: bold;
}

.loginWindow__inside__content p {
  padding: 10px 0px;
  font-weight: bold;
}

.loginWindow__inside__content input, .registerWindow__inside__content input {
  width: 90%;
  font-size: 15px;
  margin: 10px auto;
  display: block;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.loginWindow__inside__content input[type="submit"], .registerWindow__inside__content input[type="submit"] {
  background-color: red;
  color: #FFF;
  border-style: none;
  border-radius: 20px;
}

.loginToRegister, .ToSignIn {
  color: #0066FF;
  padding-left: 5px;
  cursor: pointer;
}

.returnWindow input, .newProductSearchWindow input {
  display: block;
  margin: 10px auto;
  padding: 5px 15px;
  font-size: 18px;
  width: 80%;
}

.returnWindow .returnInfo, .newProductSearchWindow .newProductSearchInfo {
  width: 80%;
  height: 200px;
  padding: 5px 15px;
  font-size: 15px;
  color: #777;
}

.returnWindow .returnSubmit, .newProductSearchWindow .newProductSearchSubmit {
  padding: 10px 25px;
  text-align: left;
  color: #777;
}

.returnWindow .returnSubmit .return_attach,
.newProductSearchWindow .newProductSearchSubmit .newProductSearch_attach {
  padding: 5px 10px;
  border: 1px #777 solid;
  background: #fff;
  border-radius: 3px;
}

.returnWindow .returnSubmit .return_send,
.returnWindow .returnSubmit .return_cancel,
.newProductSearchWindow .newProductSearchSubmit .newProductSearch_cancel,
.newProductSearchWindow .newProductSearchSubmit .newProductSearch_send {
  float: right;
  margin: 0px 5px;
  padding: 5px 20px;
  border: 1px #777 solid;
  background: #fff;
  border-radius: 3px;
}

.returnWindow .returnSubmit .return_send, .newProductSearchWindow .newProductSearchSubmit .newProductSearch_send {
  border-color: #f22;
  color: #f22;
}

.returnWindow  .returnRemind {
  color: #777;
  font-size: 10px;
  padding-bottom: 10px;
}

.newProductSearchWindow {
  height: 500px;
  overflow: auto;
}

.otherRecommendProdcts {
  width: 100%;
  border-top: 1px solid #777;
}

.otherRecommendProdcts > p {
  font-weight: bold;
  padding: 10px 0;
}

.otherRecommendProdcts .recommendProductItem {
  width: 90%;
  margin: 20px auto;
  box-shadow: 0px 0px 4px 2px rgba(20%,20%,40%,0.2);
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
  align-items: center;
}

.otherRecommendProdcts .recommendProductItem * {
  display: inline-block;
}

.otherRecommendProdcts .recommendProductItem > div {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
  align-items: center;
}

.otherRecommendProdcts .recommendProductItem img {
  width: 90%;
  margin: 0px auto;
}

.otherRecommendProdcts .recommendProductItem p {
  font-weight: bold;
}

.otherRecommendProdcts .recommendProductItem button {
  margin: 0px auto;
  border: solid 1px #777;
  border-radius: 20px;
  background: transparent;
  padding: 5px 10px;
}

.randomMarketWindow .searchMarket>p, .randomMarketWindow>p{
  font-weight: bold;
  padding: 10px 0px;
}

.randomMarketWindow img {
  margin: 0px auto;
  width: 60%;
}

.randomMarketWindow button {
  margin: 0px auto;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: #f22;
  border-style: none;
  border-radius: 20px;
  padding: 10px 80px;
}

.randomMarketWindow .randomMarket {
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;

  padding-top: 40px;
}

.randomMarketWindow .randomMarket > div {
  padding: 0px 10px;
}

.randomMarketWindow .randomMarket img {
  width: 100%;
}

.randomMarketWindow .randomMarket p {
  padding: 5px 0px;
  font-weight: bold;
}

.randomMarketWindow .randomMarket .personal_market p:nth-child(1) {
  font-size: 20px;
}

.randomMarketWindow .randomMarket .personal_market p:nth-child(2) {
  font-size: 30px;
  color: #f22;
}

.randomMarketWindow .randomMarket .shareMarketInfo {
  padding: 20px 0px;
  font-size: 15px;
  font-weight: bold;
}

.shareWindow .shareWindow_shareItem {
  padding: 15px 20px;
}

.shareWindow .shareWindow_shareItem img {
  width: 30px;
  height: 30px;
  border-radius:99em;
  cursor: pointer;
  padding: 0 5px;
}

.show_products {
  margin: 0 auto;
  height: 1000px;
}

.ship_range {
  width: 100%;
  height: 5px;
  background: #ddd;
  border-radius: 50px;
  margin: 5px 0;
}

.ship_range div {
  height: 5px;
  border-radius: 50px;
}

.rememberMe {
  text-align: left;
  color: #aaa;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
  align-items: center;
}

.rememberMe input {
  margin: 0px;
  width: 10%;
  display: inline-block;
}

.registerNotification {
  font-weight: solid;
  font-size: 15px;
  padding-bottom: 10px;
  color: #f22;
}

.showRandomMarketWindow {
  width: 100%;
  height: 100%;
  z-index: 999;
  position: fixed;
}
.AD {
  box-shadow: 4px 4px 4px 2px rgba(20%,20%,40%,0.2);
}

//=====range======
.basis {
  border: 0;
  height: 5px;
}

.basis .ui-slider-range {
  background-image: none;
  background-color: #f22;
}

.basis .ui-slider-handle {
  width: 8px;
  height: 8px;
  border: 5px solid #fff;
  background-image: none;
  background-color: #f22;
  border-radius: 50%;
  box-shadow: 0px 0px 8px 1px rgba(20%,20%,40%,0.4);
  cursor: pointer;
}

.amount-left, .amount-right {
  background: none;
  border: none;
  font-size: 20px;
  display: inline-block;
  padding: 5px 0px;
}

.amount-right {
  text-align: right;
  float:right;
}
