.close {
  color: #FFF;
  float: right;
  font-size: 60px;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.forgotLink a {
  color: #0099FF;
}

.dialogArea {
  display: none;
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  margin-top: -60px;
  padding-top: 50px;
}

.dialogWindow__outside {
  width: 500px;
  height: 600px;
  position: fixed;
  left: 50%;
  margin-left: -250px;
}

.dialogWindow__inside {
  background-color: #FFFFFF;
  width: 400px;;
  height: 430px;
  margin: 50px;
}

.dialogWindow__inside__title {
  width: 100%;
  border-bottom: 1px solid #aaa;
}

.dialogWindow__inside__title img {
  display: block;
  padding: 10px 5px;
  margin: 0px auto;
}

.signInWindow__inside__content, .registerWindow__inside__content {
  display: none;
  padding: 0px 30px;
  text-align: center;
}

.signInWindow__inside__content p, .registerWindow__inside__content .registerInput p {
  padding: 10px 0px;
  font-weight: bold;
}

.signInWindow__inside__content input, .registerWindow__inside__content input {
  width: 100%;
  font-size: 15px;
  margin: 10px auto;
  display: block;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.signInWindow__inside__content input[type="submit"], .registerWindow__inside__content input[type="submit"] {
  background-color: red;
  color: #FFF;
  border-style: none;
  border-radius: 20px;
}

.signInToRegister, .registerToSignIn {
  color: #0066FF;
  padding-left: 5px;
  cursor: pointer;
}

.rememberMe {
  text-align: left;
  font-weight: normal;
  color: #aaa;
}

.verMailInfo {
  font-weight: solid;
  font-size: 20px;
  padding-top: 125px;
  display: none;
}

