html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

input, button, a {
  outline: none;
  text-decoration: none;
}

body {
  height: 100%;
  background-color: #EEEEEE;
}

header {
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #EEEEEE;
}

header div {
  display: inline;
}

header div p {
  display: inline-block;
  padding: 15px 5px;
}

header div img {
  display: inline;
}

.mainPage {
  margin-top: 50px;
}

.logo {
  width: 156.25px;
  height: auto;
}

.leftBigAD {
  min-height: 400px;
  margin-right: 10px;
  background: #fff;
}

.notification, .question, .search {
  width: 30px;
  height: auto;
}

.rightSmallTopAD, .rightSmallDownAD {
  min-height: 195px;
  background: #fff;
}

.rightSmallTopAD {
  margin-bottom: 10px;
}

.rightSmallDownAD {
  margin-top: 10px;
}

.rightHeader {
  text-align: right;
}

.rightHeader * , .leftHeader *{
  margin: 0 15px;
  vertical-align: middle;
}

.register {
  cursor: pointer;
}

.signIn {
  background-color: transparent;
  border: 1px #000000 solid;
  border-radius: 100px;
  padding: 5px 10px;
}
