html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  letter-spacing: normal;
}
::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}
input, button, a , select, textarea {
  outline: none;
  text-decoration: none;
}

span:focus {
  outline:none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #EEEEEE;
}

header {
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #EEEEEE;
  z-index: 110;
}

header div {
  display: inline;
}

header div p:not(.userPicture) {
  display: inline-block;
  padding: 15px 5px;
}

.close {
  position: absolute;
  right: -60px;
  margin-top: -60px;
  color: #FFF;
  font-size: 60px;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.dialogArea {
  display: none;
  position: fixed;
  z-index: 120;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  padding-top: 70px;
}

.dialogWindow__outside {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.dialogWindow__inside {
  position: relative;
}

.headerHeight {
  height: 10%;
  width: 100%;
}

.logo {
  width: 156.25px;
  height: auto;
}

.rightHeader {
  text-align: right;
}

.rightHeader > * {
  display: inline-block;
}

.rightHeader * , .leftHeader *{
  margin: 0 15px;
  vertical-align: middle;
}

.rightHeaderInfo {
  margin: 0;
  margin-left: 15px;
}

.rightHeaderInfo > li {
  padding: 15px;
  margin: 0px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

.rightHeaderInfo > li:hover {
  background-color: #ddd;
}

.rightHeaderInfo > li > img {
  width: 30px;
}

.submenu {
  position: absolute;
  min-width: 150px;
  text-align: left;
  right: -15%;
  top: 100%;
  background: white;
  box-shadow: 4px 4px 12px 4px rgba(20%,20%,40%,0.2);

  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);

  -webkit-transition: opacity .4s, -webkit-transform .5s;
  -moz-transition: opacity .4s, -moz-transform .5s;
  -ms-transition: opacity .4s, -ms-transform .5s;
  -o-transition: opacity .4s, -o-transform .5s;
  transition: opacity .4s, transform .5s;
}

.rightHeaderInfo > li:hover .submenu, .rightHeaderIndo > li:focus .submenu {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.mainPage {
  height: 90%;
}

.tri_point > .submenu > .menuList {
  margin: 0;
  padding: 10px 20px;
  cursor: pointer;
}

.tri_point > .submenu > .menuList:hover {
  background-color: #ddd;
}

.provisionArea {
  padding: 15px 20px;
  border-bottom: 1px solid #DDD;
}

.search_area {
  width: 350px;
  margin: 0px;
  padding: 10px;
}

.search_area input {
  width: 95%;
  padding: 5px;
  margin: 0px auto;
  font-size: 20px;
  border-radius: 100px;
  border: solid 1px #000;
}

.question .submenu > li {
  width: 400px;
  margin: 0px;
  padding: 10px 15px;
  cursor: default;
}

.question .submenu .question_area_text {
  font-size: 20px;
  font-weight: bold;
}


.question .submenu .question_area_email input {
  font-size: 15px;
  width: 95%;
  padding: 10px;
  margin: 0px;
  border: 1px solid #000;
  border-radius: 5px;
}

.question .submenu .question_area_content textarea {
  font-size: 15px;
  width: 95%;
  padding: 5px 10px;
  height: 150px;
  margin: 0px;
  border: 1px solid #000;
  border-radius: 5px;
}

.question .submenu .question_area_submit button {
  padding: 5px 20px;
  margin: 0px;
  border: 1px #999 solid;
  border-radius: 5px;
  background-color: transparent;
}

.question .submenu .question_area_submit .question_cancel, .question .submenu .question_area_submit .question_send {
  float: right;
  margin: 0px 5px;
}

.question .submenu .question_area_submit .question_send {
  color: #f22;
  border-color: #f22;
}

.register {
  cursor: pointer;
}

.logout {
  padding: 15px 20px;
  border-top: 1px solid #AAA;
  color: red;
}

.login {
  background-color: transparent;
  border: 1px #000000 solid;
  border-radius: 100px;
  padding: 5px 10px;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding: 0;
}

.userPicture {
  display: inline-block;
}

.userPicture img {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 99px;
  margin: 0px;
}

.userName {
  cursor: pointer;
}

.userName:hover {
  color: #fff;
}
/*div::scroolbars*/
div::-webkit-scrollbar, body::-webkit-scrollbar, textarea::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track, body::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track {
  background: #cccccc;
}
div::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: gray;
}
